<form action="{{path('orders')}}" method="post">
    <input type="text" name="{{inputName}}" value="{{order.id}}" hidden>
    <input type="submit" class="button" name="submit" value="{{buttonLabel}}">
</form>