<form class="form__container" action="{{path('shopping_cart')}}" method="post">
    <input type="email" name="email" required>
    <label for>E-Mail *</label>
    <input type="text" name="firstname" required>
    <label for>Vorname *</label>
    <input type="text" name="lastname" required>
    <label for>Nachname *</label>
    <input type="text" name="street" required>
    <label for>Straße *</label>
    <input type="number" name="housenumber" required>
    <label for>Hausnummer *</label>
    <input type="number" name="zipcode" required>
    <label for>PLZ *</label>
    <input type="text" name="phone" required>
    <label for>Telefonnummer *</label>
    <input type="text" name="city" required>
    <label for>Ort *</label>
    <div class="js-shopping-cart-form-guitars ">
    </div>
</form>