<form>
    <input type="text" name="firstname">
    <label for>Vorname</label>
    <input type="text" name="lastname">
    <label for>Nachname</label>
    <input type="text" name="email">
    <label for>E-Mail</label>
    <input type="text" name="street">
    <label for>Straße</label>
    <input type="text" name="housenumber">
    <label for>Hausnummer</label>
    <input type="number" name="zipcode">
    <label for>PLZ</label>
    <input type="text" name="city">
    <label for>Ort</label>

    <div class="js-shopping-cart-form-guitars ">
    test123
    </div>
    {# roles muss serverseitig angelegt werden #}
</form>