<form class="sidebar__shopping-form js-sidebar-shopping-form" action="{{path('shopping_cart')}}" method="post">
    <button class="sidebar__shopping-cart-button" type="submit">Zum Warenkorb</button>
    <div class="js-sidebar-shopping-elements-container sidebar__shopping-elements-container">
    </div>
</form>