{% extends 'base.html.twig' %}

{% block content %}

    <p>
        Guitar World GmbH<br>
        Musterstraße 123<br>
        12345 Musterstadt<br><br>

        Telefon: +49 (0)123 456789<br>
        E-Mail: <a href="mailto:info@guitar-world.de">info@gitarrentraum.de</a><br><br>

        Geschäftsführer: Max Mustermann<br><br>

        Registergericht: Amtsgericht Musterstadt<br>
        Registernummer: HRB 12345<br><br>

        Umsatzsteuer-Identifikationsnummer gemäß § 27a UStG: DE 123456789<br><br>

        Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br>
        Max Mustermann<br>
        Musterstraße 123<br>
        12345 Musterstadt<br>
    </p>
{% endblock %}