{% extends 'base.html.twig' %}

{% block content %}

    <h1>Datenschutzerklärung:</h1>
    <p>
        Wir, die GitarrenTraum GmbH, nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Nachfolgend informieren wir Sie über die Verarbeitung Ihrer Daten und Ihre Rechte gemäß den geltenden Datenschutzgesetzen.<br><br>

        <strong>1. Erhebung und Verarbeitung von Daten:</strong><br>
        Wir erheben und verarbeiten personenbezogene Daten nur, soweit dies für die Erfüllung unserer vertraglichen Pflichten erforderlich ist. Dazu gehören insbesondere Name, Adresse, E-Mail-Adresse und Zahlungsinformationen.<br><br>

        <strong>2. Nutzung und Weitergabe personenbezogener Daten:</strong><br>
        Ihre Daten werden ausschließlich zum Zweck der Vertragsabwicklung verwendet. Eine Weitergabe an Dritte erfolgt nur, soweit dies für die Lieferung der bestellten Waren oder die Abwicklung der Zahlung erforderlich ist.<br><br>

        <strong>3. Datensicherheit:</strong><br>
        Wir treffen technische und organisatorische Maßnahmen, um Ihre Daten vor unbefugtem Zugriff, Verlust oder Missbrauch zu schützen. Ihre Daten werden verschlüsselt übertragen und in einer sicheren Datenbank gespeichert.<br><br>

        <strong>4. Auskunftsrecht und Kontakt:</strong><br>
        Sie haben das Recht, Auskunft über die bei uns gespeicherten Daten zu erhalten und deren Berichtigung, Sperrung oder Löschung zu verlangen. Bei Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten sowie für Auskünfte, Berichtigung, Sperrung oder Löschung von Daten wenden Sie sich bitte an:<br>
        GitarrenTraum GmbH<br>
        Musterstraße 123<br>
        12345 Musterstadt<br>
        E-Mail: <a href="mailto:datenschutz@guitar-world.de">datenschutz@guitar-world.de</a><br><br>

        <strong>5. Änderungen der Datenschutzerklärung:</strong><br>
        Diese Datenschutzerklärung wird bei Änderungen der rechtlichen Rahmenbedingungen oder unserer Geschäftstätigkeit aktualisiert. Bitte überprüfen Sie regelmäßig die Datenschutzerklärung auf unserer Website.<br><br>
    </p>
{% endblock %}