// ---------- COLOR SETS   ---------------
// Source: https://www.canva.com/de_de/lernen/schoene-farbpaletten-und-farbkombinationen/    

// 32. Sonnengeküsst
$color-terracotta: #d24136
$color-honey: #eb8aee
$color-biscotti: #ebb582
$color-stone: #785a46

// 40. Herbstlich & Neutral
$color-pumpkin: #d55448
$color-canteloupe: #FFA577
$color-cotton: #f9f9ff
$color-hot-chocolate: #896E69

// 42. klassisch metallisch
$color-black-steel: #080706
$color-paper: #EFEFEF
$color-gold-leaf: #d1b280
$color-silver: #594D46



// ---------- COLOR SETUP ---------------
// $color-primary: $color-pumpkin
// $color-secondary: $color-canteloupe
// $color-tertiary: $color-hot-chocolate
// $color-quaternary: $color-cotton

$color-success: rgb(0,255,0, 0.3)
$color-failure: rgb(255,0,0, 0.3)
$color-disabled: rgb(190,190,190, 0.5)
$color-white: ffff

$color-primary: $color-black-steel
$color-secondary: $color-gold-leaf
$color-tertiary: $color-silver
$color-quaternary: $color-paper



// ---------- BREAKPOINTS ---------------
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$breakpoint-xxl: 1400px


// ---------- PADDING ---------------    
$global-padding: 0 0.5rem

$padding-bottom-next-sm: 2rem
$padding-bottom-next-m: 4rem
$padding-bottom-next-l: 6rem


// ---------- SHADOWS ---------------  
$guitar-image-shadow: 5px 5px 30px $color-secondary
$guitar-image-shadow-hover: 5px 5px 60px $color-secondary
$shadow: 1px 1px 10px $color-secondary
$shadow-hover: 1px 1px 20px $color-secondary

* 
    color: $color-primary

.base
    &__headline--big
        text-align: center

a
    text-decoration: none

img
    max-width: 100%

.bg-success
    background-color: #4b954b54 


.bg-failure
    background-color: $color-failure

.bg-disabled
    background-color: $color-disabled

@mixin item-container
    display: flex
    max-width: 100%
    overview: hidden
    transition: box-shadow 0.15s
    box-shadow: $shadow

    &:hover
        box-shadow: $shadow-hover

