@import 'base'
@import 'default-elements'

.create-user
    
    &__container
        width: 100%
        display: flex
        justify-content: center

    &__submit
        @extend .button
        background-color: yellow