@import 'base'
@import 'default-elements'
    
.guitar-overview
    
    &__container
        width: 100%
        max-width: 100%
        border-radius: 0.5rem
        margin-bottom: 2rem
        padding: 1rem
        box-shadow: $shadow
        cursor: pointer
        transition: box-shadow 0.15s
        overflow: hidden
        display: flex
        flex-direction: column

        --guitar-container-height: 700px
        height: var(--guitar-container-height)
        max-height: var(--guitar-container-height)
        min-height: var(--guitar-container-height)


        @media (min-width: $breakpoint-md)
            width: 42%
            max-width: 42%
            --guitar-container-height: 500px
        
        @media (min-width: $breakpoint-lg)
            width: 28%
            max-width: 28%
            --guitar-container-height: 600px

        @media (min-width: $breakpoint-xl)
            width: 29%
            max-width: 29%


        &--special-alignement-first
            margin-left: 0
            margin-right: auto

            @media (min-width: $breakpoint-lg)
                margin-right: auto
                margin-left: 0
            
        &--special-alignement-second
            margin-left: auto
            margin-right: auto
        
        &--special-alignement-once
            margin-left: 0
            margin-right: auto

            @media (min-width: $breakpoint-lg)
                margin-right: auto  
                margin-left: auto

        &--special-alignement-evenly
            margin-right: 0
            margin-left: auto

            @media (min-width: $breakpoint-lg)
                margin-right: revert 
                margin-left: revert


        &:hover
            box-shadow: $shadow-hover

        p
            padding-bottom: .5rem 

        h3
            font-size: 1rem

    
        button[disabled]
            background-color: $color-primary
            opacity: 0.4

            &:hover
                cursor: default 

    &__link-container
        display: flex
        flex-direction: column
        height: 90%


    &__image-container 
        height: 60%
        max-height: 60%
        min-height: 60%
        display: flex
        justify-content: center
    
    &__img
        height: 100%
        max-height: 100%

    &__guitar-headline-container
        height: 10%


    &__guitar-data-container
        height: 20%


    &__guitar-price-container
        height: 10%
        font-size: 1.5rem
        font-weight: bold
        display: flex
        justify-content: end
        

    &__action-button-container
        height: 10%
        display: flex
        justify-content: start


        .guitar-overview__action-button
            height: 0rem
            border-radius: 2rem
            padding: 1.5rem 0.75rem
            margin-left: 0.5rem

    &__action-button-icon
        width: 1.5rem
        pointer-events: none

