@import 'base'
    
.guitar-detail

    &__container
        display: flex
        flex-direction: column
        width: 100%

        table
            width: 100%
            align-self: center
            padding: 4rem 2rem 0 2rem

            @media (min-width: $breakpoint-md)
                width: 75%

            @media (min-width: $breakpoint-lg)
                width: 50%

            td 
                width: 50%
                padding-bottom: 1rem

                &:first-child
                    font-weight: bold
                    width: 50%

    &__headline
        font-size: 1.75rem

    &__price
        font-size: 1.23rem

    &__image-container
        width: 100%
        display: flex
        justify-content: center
        padding: 4rem 0

        img
            max-width: 50%

