@import 'base'
@import 'default-elements'

.guitar-form
    
    &__guitar-container
        width: 100%
        max-width: 100%
        display: flex
        justify-content: center
        padding-top: 2rem
        padding-bottom: 4rem

    &__guitar-image
        width: 100%

    &__guitar-image-hyperlink
        box-shadow: $guitar-image-shadow
        border-radius: 0.5rem
        padding: 1rem
        width: 40%
        transition: box-shadow .2s 

        &:hover
            box-shadow: $guitar-image-shadow-hover
            // border: 2px solid $color-secondary
            