@import 'base'

.message
    &__container
        display: flex
        justify-content: center
        width: 100%

    &__text-container
        background-color: $color-primary
        font-weight: bold
        border-radius: 4px
        // padding: 2rem 2rem
        margin-bottom: 2rem
        width: 100%

        @media (min-width: $breakpoint-md)
            width: 75%
            max-width: 75%

        @media (min-width: $breakpoint-xl)
            width: 50%

    &__text 
        color: $color-quaternary
        padding: 2rem