@import 'base'

.message
    &__container
        background-color: $color-primary
        color: $color-quaternary
        font-weight: bold
        border-radius: 4px
        padding: 2rem 2rem
        margin-bottom: 2rem
        