@import 'base'

.navbar
    &__container
        max-width: 100vw
        min-height: 3rem
        background-color: $color-secondary
        display: flex
        justify-content: space-between
        align-items: center
        color: $color-quaternary
        padding: $global-padding
        margin-bottom: 4rem 
        // position: sticky
        // top: 0

    &__icon
        max-width: 100%
    
    &__icon-container
        max-width: 2rem
        border-radius: 3rem
        padding: .5rem
        margin: .5rem
        
        &:hover
            cursor: pointer

        &--right
            display: flex
            margin-right: 5.5rem

            .navbar__icon:first-of-type
                padding-right: 2rem

    &__logo-icon-container
        background-color: inherit

    &__logo-container
        display: flex
        text-decoration: none
        color: $color-primary
        font-weight: bold
        font-size: 1.25rem
        align-items: center

    &__shopping-cart-counter
        background: blue 
        border-radius: 1rem
        position: relative
        left: 124%
        top: -10px
        display: flex
        align-items: center
        justify-content: center
        height: 1rem
        min-width: 1rem 
        font-size: 0.75rem
        font-weight: bold
        color: white
        visibility: hidden