@import 'base'
@import 'default-elements'

.searchbar-form

    &__form
        display: grid
        padding-bottom: 2rem
        align-items: center
        width: 100%
        display: flex
        justify-content: center
        margin-bottom: 2rem


        input:first-of-type
            width: 85%
            margin-right: 1rem
            border-radius: 1rem

    &__input-container
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

        @media (min-width: $breakpoint-md)
            width: 75%
            max-width: 75%

        @media (min-width: $breakpoint-xl)
            width: 50%
    
    &__search-icon
        width: 1.5rem

    &__search-button
        width: 15%