{% extends 'base.html.twig' %}

{% set return = (return is defined and return == true) ? true : false %}

{% block content %}

    <h1 class="content__main-headline">Gitarrentyp anpassen</h1>

    <div class="content--centering-in-column">
        {% include '/forms/guitar_type_form.html.twig' with {
            'submit_label' : 'Speichern',
            'route' : 'change_guitar_type'
        } %}
    </div>

{% endblock %}