
<div class="confirmation js-confirmation">
<div class="confirmation__container">
    <div class="confirmation__header">
        <span class="js-confirmation-button-close confirmation__button--close">&times;</span>
    </div>
    <div class="confirmation__body ">
        <p class="confirmation__text js-confirmation-text"></p>
    </div>
    <div class="confirmation__footer">
        <button class="js-confirmation-button-yes confirmation__button--yes">Ja</button>
        <button class="js-confirmation-button-no confirmation__button--no" >Nein</button>
    </div>
</div>
</div>