{% extends 'base.html.twig' %}

{% set return = (return is defined and return == true) ? true : false %}
{% set infos = infos is defined ? infos : null %}

{% block content %}

    <h1 class="content__main-headline">Gitarre anlegen</h1>

    <div class="content--centering-in-column">

        {% include '/forms/guitar_form.html.twig' with {
            'submit_label' : 'Anlegen'
        } %}

    </div>
{% endblock %}