<div class="footer" >
    <div class="content">
        <div class="footer__link-container">
            <a class="footer__link" href="{{path('footer_agb')}}">AGB</a>
            <a class="footer__link" href="mailto:info@kontakt.de">Kontakt</a>
            <a class="footer__link" href="{{path('footer_impressum')}}">Impressum</a>
            <a class="footer__link" href="{{path('footer_datenschutz')}}">Datenschutz</a>
        </div>
    </div>
</div>