<form class="login-form__container" action="{{ path('login') }}" method="post">
    <input type="email" class="" name="identifier" placeholder="User">
    <input type="password" class="" name="password" placeholder="Passwort">
    <button class="button login-form__submit" type="submit">Login</button>
</form>