<nav class="navbar__container ">
        <a href="{{path('home')}}">LOGO</a>
        <button class="js-profile">Profil</button>

        {# {% include 'login_form.html.twig' %} #}
        {# <a class="button" href="{{path('logout')}}"> Logout </a>
        <a class="button" href="{{path('create_user')}}"> Registrieren </a> #}

 

</nav>