<nav class="navbar__container ">
    <a href="{{path('home')}}" class="navbar__logo-container">
        <div class="navbar__icon-container navbar__logo-icon-container">
            <image class="navbar__icon" src="/guitarWorld/public/assets/icons/logo/guitar-pick-logo.svg">
        </div>
        <p>GUITAR WORLD</p>
    </a>

    <div class="navbar__icon-container">
        <image class="js-profile navbar__icon" src="/guitarWorld/public/assets/icons/profile-normal.svg">
    <div>

</nav>