{% extends 'base.html.twig' %}

{% block content %}

    {% for order in orders %}

    {% set isOrderActive = true %}

    {% if order.paid is not null or order.canceled is not null %}
        {% set isOrderActive = false %}
    {% endif %}


    {% set stateBackground = 'bg-failure' %}

        <div class="order__item-container {% if order.paid is not null %} bg-success {% elseif order.canceled is not null %} bg-disabled {% endif %}">
            
            {{order.id}} <br>   
            {{order.date|date('d-m-Y')}}


            {% if order.paid is null and order.canceled is null%}
                {% include 'forms/order-change-input-form.html.twig' with {
                    'inputName': 'paidId',
                    'buttonLabel': 'NICHT BEGLICHEN - begleichen',
                }%}
                {% include 'forms/order-change-input-form.html.twig' with {
                    'inputName': 'canceledId',
                    'buttonLabel': 'AKTIV - stornieren',
                }%}
            {% elseif order.paid is not null%}
                {% include 'forms/order-change-input-form.html.twig' with {
                    'inputName': 'resetPaidId',
                    'buttonLabel': 'BEGLICHEN - zurücksetzen',
                }%}

            {% elseif order.canceled is not null %}
                ------------------- STORNIERT -------------------
            {% endif %} 

        </div>
    {% endfor %}

{% endblock %}