<div class="sidebar__container js-sidebar">

    {% include 'login_form.html.twig' %}

    <a class="button" href="{{path('logout')}}"> Logout </a>

    <a class="button" href="{{path('create_user')}}"> Registrieren </a>

</div>